@if (artwork) {
    <div class="card" style="width: 400px;">
        <img [src]="artwork.image" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{artwork.name}}</h5>
            <p class="card-text">{{artwork.description}}</p>
            <p class="card-text">
            <!-- Hacer lo del currency -->
            <strong>Precio:</strong> {{artwork.price}} $
            </p>
                <div class="d-flex justify-content-between">
                <span>Categoria: {{artwork.categoryDto.name}}</span>
                <p><a routerLink="/users/{{artwork.userDto.id}}">{{artwork.userDto.name}}</a></p>
            </div>
        </div>
    </div>
}