.boton {
    --boton-color-strong:var(--mlt-sys-color-principal-5);
    --boton-color-weak:var(--mlt-sys-color-blanco-9);

    --boton-background-color:var(--boton-color-strong);
    --boton-border-color:var(--boton-color-strong);
    --boton-text-color: var(--boton-color-weak);

    --boton-font-family: var(--mlt-sys-font-default);
    --boton-font-size: var(--mlt-sys-font-size-4);

    --boton-padding: var(--mlt-sys-padding-3);
    --boton-width: var(--mlt-sys-width-1);
    --boton-border-radius:var(--mlt-sys-border-radius-2);

    font-family: var(--boton-font-family);
    font-size: var(--boton-font-size);
    padding: var(--boton-padding);

    border-radius: var(--boton-border-radius);
    border-width: var(--mlt-sys-width-1);
    border-style: solid;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;

    border-color: var(--boton-border-color);
    background-color: var(--boton-background-color);
    color: var(--boton-text-color);
}
  
.boton--funcion-normal {
    --boton-border-color: var(--mlt-sys-color-principal-5);
    --boton-background-color: var(--mlt-sys-color-principal-5);
    --boton-text-color: #ffffff;
}
  
.boton--funcion-alternativa {
    --boton-border-color: var(--mlt-sys-color-alternativo-5);
    --boton-background-color: var(--mlt-sys-color-alternativo-5);
    --boton-text-color: #ffffff;
}
  
.boton--funcion-peligrosa {
    --boton-border-color: var(--mlt-sys-color-rojo-5);
    --boton-background-color: var(--mlt-sys-color-rojo-5);
    --boton-text-color: #ffffff;
}

.boton--importancia-primaria {
    --boton-border-color:var(--boton-color-strong);
    --boton-background-color:var(--boton-color-strong);
    --boton-text-color: var(--boton-color-weak);
}

.boton--importancia-secundaria {
    --boton-border-color:var(--boton-color-strong);
    --boton-background-color:var(--boton-color-weak);
    --boton-text-color: var(--boton-color-strong);
}

.boton--importancia-terciaria {
    --boton-border-color:var(--boton-color-weak);
    --boton-background-color:var(--boton-color-weak);
    --boton-text-color: var(--boton-color-strong);
}

.boton--tamano-pequeno {
    --boton-font-size: var(--mlt-sys-font-size-3);
    --boton-padding: var(--mlt-sys-padding-2);
    --boton-border-radius: var(--mlt-sys-border-radius-1);
}

.boton--tamano-mediano {
    --boton-font-size: var(--mlt-sys-font-size-4);
    --boton-padding: var(--mlt-sys-padding-3);
    --boton-border-radius: var(--mlt-sys-border-radius-2);
}

.boton--tamano-grande {
    --boton-font-size: var(--mlt-sys-font-size-5);
    --boton-padding: var(--mlt-sys-padding-4);
    --boton-border-radius: var(--mlt-sys-border-radius-3);
}
