<br>
<h3>Listado de Artworks (Pa probar si funciona el getAll)</h3>
<button routerLink="/users/new">CREATE USER</button>
<div style="width:90%">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
               <th>ID</th> 
               <th>NAME</th> 
               <th>EMAIL</th> 
               <th>PASSWORD</th> 
               <th>NºACCOUNT</th> 
               <th>DESCRIPCION</th>
               <th>ADDRESS</th>
               <th>AVATAR</th> 
               <th>ROLE</th>
            </tr>
        </thead>
        <tbody>
            @for (user of usermodelList; track user.id) {
                <tr>
                    <td>{{user.id}}</td>
                    <td><a routerLink="{{user.id}}">{{user.name}}</a></td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.nAccount}}</td>
                    <td>{{user.description}}</td>
                    <td>{{user.address}}</td>
                    <td><img width="100px" src="{{user.imageProfileUrl}}"></td>
                    <td>{{user.role}}</td>
                    <td>
                        <a routerLink="/users/{{user.id}}/delete" class="btn btn-danger">Borrar</a>
                        <a class="btn btn-primary" routerLink="/users/{{user.id}}/edit">Modificar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>