@if (artwork) {
    <div class="l-flex l-flex--justify-center g--margin-top-5">
        <div class="c-card g--width-500">
            <div class="c-card__body">

                <h4 class="c-card__title c-card__title-m4">
                    Editar Artwork
                </h4>

                <form>
                    <div class="g--margin-bottom-3">
                        <label class="form-label">Nombre</label>
                        <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="artwork.name"
                            name="nombre">
                    </div>

                    <div class="g--margin-bottom-3">
                        <label class="form-label">Descripción</label>
                        <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="artwork.description"
                            name="description">
                    </div>

                    <div class="g--margin-bottom-3">
                        <label class="form-label">URL Imagen</label>
                        <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="artwork.image"
                            name="image">
                    </div>

                    <div class="g--margin-bottom-3">
                        <label class="form-label">Precio</label>
                        <input
                            type="number"
                            class="form-control"
                            [(ngModel)]="artwork.price"
                            name="price">
                    </div>

                    <div class="g--margin-bottom-4">
                        <label class="form-label">Categoría</label>
                        <select
                            class="form-select"
                            name="category"
                            [(ngModel)]="artwork.categoryDto">
                            @for (category of categories; track category.id) {
                                <option [ngValue]="category">
                                    {{ category.name }}
                                </option>
                            }
                        </select>
                    </div>

                    <div class="l-flex l-flex--justify-between">
                        <a c-button funcion="alternativa" importancia="secundaria" tamano="mediano"
                            routerLink="/artworks">
                            Cancelar
                        </a>

                        <button c-button funcion="normal" importancia="primaria" tamano="mediano"
                            (click)="save()">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
