<div class="l-flex l-flex--column l-flex--justify-center g--margin-top-5">
    @if(user){
        <div class="c-card g--margin-bottom-5 g--padding-bottom-5">
            <h1 class="c-card__title">Bienvenido {{user.name}}</h1>
        </div>
        
        <div class="l-flex l-flex--row l-flex--justify-center">
            <a class="c-card c-card__body g--margin-5" routerLink="/artworks">
                <h2 class="c-card__title">Total de artworks</h2>
                <p class="c-card__text">{{totalArtworks}}</p>
            </a>
            <a class="c-card c-card__body g--margin-5" routerLink="/users">
                <h2 class="c-card__title">Total de usuarios</h2>
                <p class="c-card__text">{{totalUsers}}</p>
            </a>
            <a class="c-card c-card__body g--margin-5" routerLink="/categories">
                <h2 class="c-card__title">Total de categorías</h2>
                <p class="c-card__text">{{totalCategories}}</p>
            </a>
        </div>
    }
    @else{
        <div class="c-card">
            <h1 class="c-card__title">NO VENDAS HAMBURGUESAS</h1>
            <h1 class="c-card__text">VENDE ARTE</h1>
            <h3 class="c-card__title">ARTYHUB, TU GALLERIA</h3>
        </div>
    }
</div>