.c-card {
    background-color: var(--mlt-sys-color-white);
    border-radius: var(--mlt-sys-border-radius-4);
    box-shadow: var(--mlt-sys-shadow-sm);
    width: var(--mlt-sys-width-100);

    &__body {
        padding: var(--mlt-sys-padding-4);
    }

    &__title {
        font-weight: var(--mlt-sys-fw-semibold);
        text-align: center;
        &-m0 {
            margin-bottom: var(--mlt-sys-margin-bottom-0);
        }
        &-m1 {
            margin-bottom: var(--mlt-sys-margin-bottom-1);
        }
        &-m2 {
            margin-bottom: var(--mlt-sys-margin-bottom-2);
        }
        &-m3 {
            margin-bottom: var(--mlt-sys-margin-bottom-3);
        }
        &-m4 {
            margin-bottom: var(--mlt-sys-margin-bottom-4);
        }
        &__login {
            font-weight: var(--mlt-sys-fw-bold);
        }
    }

    &__text {
        text-align: center;
        font-size: var(--mlt-sys-font-size-2);
        &-m0 {
            margin-bottom: var(--mlt-sys-margin-bottom-0);
        }
        &-m1 {
            margin-bottom: var(--mlt-sys-margin-bottom-1);
        }
        &-m2 {
            margin-bottom: var(--mlt-sys-margin-bottom-2);
        }
        &-m3 {
            margin-bottom: var(--mlt-sys-margin-bottom-3);
        }
        &-m4 {
            margin-bottom: var(--mlt-sys-margin-bottom-4);
        }
    }
}