<br>
<h3>Listado de Artworks (Pa probar si funciona el getAll)</h3>
<button routerLink="/artworks/new">CREAR ARTWORK</button>
<div style="width:90%">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
               <th>ID</th> 
               <th>NOMBRE</th> 
               <th>DESCRIPCION</th> 
               <th>IMAGEN</th> 
               <th>PRECIO</th> 
               <th>STOCK</th> 
               <th>CATEGORIA</th>
            </tr>
        </thead>
        <tbody>
            @for (artwork of artworkList; track artwork.id) {
                <tr>
                    <td><a routerLink="{{artwork.id}}">{{artwork.id}}</a></td>
                    <td><a routerLink="{{artwork.id}}">{{artwork.nombre}}</a></td>
                    <td>{{artwork.description}}</td>
                    <td><img width="100px" src="{{artwork.imgUrl}}"></td>
                    <td>{{artwork.price}}</td>
                    <td>{{artwork.stock}}</td>
                    <td>{{artwork.category.nombre}}</td>
                    <td>
                        <a class="btn btn-danger" routerLink="{{artwork.id}}/delete">ELIMINAR</a>
                        <a class="btn btn-info" routerLink="{{artwork.id}}/edit" >MODIFICAR</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
