@if(user){
    <div class="card" style="width: 400PX;">
        <img [src]="user.imageProfileUrl" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text">{{user.description}}</p>
            <p class="card-text">
                <strong>Email:</strong> {{user.email}}
            </p>
            <p class="card-text">
                <strong>Dirección:</strong> {{user.address}}
            </p>
            <div class="d-flex justify-content-between">
                <span class="badge bg-primary">{{user.role}}</span>
                <small class="text-muted">Cuenta: {{user.nAccount}}</small>
            </div>
        </div>
    </div>
    
    <button class="btn btn-primary" routerLink="/users">VOLVER</button>
    <h3>OBRAS DEL USUARIO</h3>
    <button routerLink="/artworks/new/{{user.id}}">CREAR OBRA</button>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
               <th>ID</th> 
               <th>NOMBRE</th> 
               <th>DESCRIPCION</th> 
               <th>IMAGEN</th> 
               <th>PRECIO</th> 
               <th>CATEGORIA</th>

            </tr>
        </thead>
        <tbody>
            @if (artworks) {
                @for (artwork of artworks; track artwork.id) {
                    <tr>
                        <td>{{artwork.id}}</td>
                        <td><a routerLink="/artworks/{{artwork.id}}">{{artwork.name}}</a></td>
                        <td>{{artwork.description}}</td>
                        <td><img width="100px" src="{{artwork.image}}"></td>
                        <td>{{artwork.price}}</td>
                        <td>{{artwork.categoryDto.name}}</td>
                        
                        <td>
                            <a routerLink="/artworks/{{artwork.id}}/delete" class="btn btn-danger">Borrar</a>
                            <a class="btn btn-primary" routerLink="/artworks/{{artwork.id}}/edit">Modificar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    
}